<div class="row">
  
  <div class="col-md-12">
  
    <div class="list-group-item">

      <div class="page-header">
        <h1><%= @post.headline %></h1>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default btn-xs pull-right' %>

        <%= form_for current_user.up_votes.new(votable: @post) do |f| %>
          <%= f.hidden_field :votable_type %>
          <%= f.hidden_field :votable_id %>
          <%= f.button type: :submit, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-up"></span>
          <% end %>
        <% end %>
        <p class="text-center"><%= @post.up_votes.count - @post.down_votes.count %></p>
        <%= form_for current_user.down_votes.new(votable: @post) do |f| %>
          <%= f.hidden_field :votable_type %>
          <%= f.hidden_field :votable_id %>
          <%= f.button type: :submit, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-down"></span>
          <% end %>
        <% end %>

        <small>Posted by <em><%= @post.user.email %></em> on <%= time_ago_in_words @post.created_at %></small>
      </div>

      <%= render 'comments/form', comment: current_user.comments.new(commentable:@post) %>

      <div class="list-group">
        <%= render @post.comments %>
      </div>

    </div>

  </div>
  
</div>